@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

:root {
  --white: #FFFFFF;
  --primary: #FD5631;
  --accent: #5D3CF2;
  --success: #07C98B;
  --danger: #F23C49;
  --warning: #FDBC31;
  --info: #3C76F2;
  --black: #000000;
  --gray-900: #1F1B2D;
  --gray-800: #454056;
  --gray-700: #666276;
  --gray-600: #9691A4;
  --gray-500: #BBB7C5;
  --gray-400: #D5D2DC;
  --gray-300: #EFECF3;
  --gray-200: #F5F4F8;
}

html {
  background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6, a, p, button, input, textarea, select {
  font-family: 'Noto Sans', sans-serif;
} 

.container {
  display: flex;
  width: 1596px;
  margin: 0 auto;
}