@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

html {
  background-color: #1F1B2D;
}

h1, h2, h3, h4, h5, h6, a, p, button, input, textarea, select {
  font-family: 'Noto Sans', sans-serif;
} 

.container {
  display: flex;
  width: 1596px;
  margin: 0 auto;
}